.content {
    position: absolute;
    left: 5%;
    top: 15%;
    right: 5%;
    bottom: 10%;
}

.centrado-porcentual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
